.title {
  font-weight: 800;
  text-transform: uppercase;
  color: #d3f8ff;
  background: linear-gradient(62deg, #b3dbff 0%, #ddddff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

